{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}<code><span class="fa-solid fa-terminal"></span> sudo run_dog_admin <span class="blinker-square"></span></code>{% endblock %}

{% block page_content %}
    <h2>Welcome to the admin area that bites! <span class="fa-solid fa-bone"></span></h2>
{% endblock %}
